$color-blue:#D0F5EE;
$color-dark-blue:#2EA9A7;
$color-white:#fff;
$color-light-pink:#FD7776;
$color-grey:grey;
$color-light-pink-1:palevioletred;
$color-sea-green:lightseagreen;
$color-purple:purple;
$color-line:rgba(128, 128, 128, 0.452);
$color-white-2:#F2F5FB;
$color-dark-gray:rgba(255, 255, 255, 0.424);
$color-dark-white:#FFFFFF;
$color-light-blue: #63BCB1;
$color-light-white:rgba(255, 255, 255, 0.87) 0%, rgba(255, 255, 255, 0.62) 29%, rgba(255, 255, 255, 0.2) 100%;
$color-gray:#828284;
$color-black:black;
$color-primary:#55c57e;
$color-primary-light:#7ed56f;
$color-primary-dark:#28b485;
$color-grey-dark:#777;
$color-white:#fff;
$color-black:#000;
$color-grey-light-1:#f7f7f7;
$color-grey-light-2:#eee;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-secondary-light:#ffb900;
$color-secondary-dark:#ff7330;

$color-tertiary-light:#2998ff;
$color-tertiary-dark:#5643fa;