.section-cards{
    height: 45rem;
    width: 100%;
    position: relative;
    cursor: pointer;
    &_div-1{
        height: 30rem;
        width: 31rem;
        position: absolute;
        left: 12rem;
        top: 12rem;
        border-radius: 2.5rem;
        text-align: center;
        transition: all 1s;
        box-shadow: 4px 6px 10px grey;
        transition: all .4s;
        &:hover{
            transform: scale(1.1);
        }
        &_icon-1{
            font-size: 3rem;
            text-align: center;
            margin-top: 5rem;
            color: $color-light-pink-1;
        }
        &_text-1{
            font-size: 3rem;
            font-weight: bold;
            text-align: center;
            margin-top: 2rem;
        }
        &_text-2{
            font-size: 1.7rem;
            text-align: center;
            color: $color-grey;
            margin-top: 2rem;
        }
    }
    &_div-2{
        height: 30rem;
        width: 31rem;
        position: absolute;
        left: 50rem;
        border-radius: 2.5rem;
        top: 12rem;
        text-align: center;
        transition: all 1s;
        box-shadow: 4px 6px 10px grey;
        transition: all .4s;
        &:hover{
            transform: scale(1.1);
        }
        &_icon-1{
            font-size: 3rem;
            text-align: center;
            margin-top: 5rem;
            color: $color-sea-green;
        }
    }
    &_div-3{
        height: 30rem;
        width: 31rem;
        position: absolute;
        left: 88rem;
        top: 12rem;
        border-radius: 2.5rem;
        text-align: center;
        transition: all 1s;
        box-shadow: 4px 6px 10px grey;
        transition: all .4s;
        &:hover{
            transform: scale(1.1);
        }
        &_icon-1{
            font-size: 3rem;
            text-align: center;
            margin-top: 5rem;
            color:$color-purple;
        }
    }
}